.cartas-comunitarias span {
  animation: cartaEnergy 2s infinite;
}

@keyframes cartaEnergy {
  0% { box-shadow: 0 0 10px #00aaff; }
  50% { box-shadow: 0 0 30px #33ccff; }
  100% { box-shadow: 0 0 10px #00aaff; }
}
