.edge-light {
  position: absolute;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, rgba(0,234,255,0.4), rgba(0,234,255,0.1), rgba(0,234,255,0.4));
  animation: edgePulse 4s infinite ease-in-out;
  box-shadow: 0 0 20px rgba(0,234,255,0.7);
}

.edge-light-top {
  top: 0;
}

.edge-light-bottom {
  bottom: 0;
}

@keyframes edgePulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
